[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sickit-learn = "*"
argparse = "*"
tensorflow = "*"
os = "*"
json = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
